<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="textArea" class="col-lg-2 control-label"><h2>Comment:</h2></label>
    <div class="col-lg-10">
      <%= f.text_area :comment, :class => "form-control", :rows => "5", :id => "textArea" %>
    </div>
    <%= f.hidden_field :doi_id, :value => @comment.doi_id %>
  </div>

  <div class="actions">
    <%= f.submit :class => "btn btn-primary" %>
  </div>
<% end %>
