<%= form_tag :action => 'create' %>

<div class="control-group">
  <span class="label label-default">Name</span>
  <div class="controls">
  	<%= text_field :doi, :name, :class => 'text_field' %>
  </div>
</div>

<div class="control-group">
  <span class="label label-default">Description</span>
  <div class="controls">
  <%= text_field :doi, :description, :class => 'text_field' %>
</div>
</div>

<div class="control-group">
  <span class="label label-default">URL</span>
  <div class="controls">
  <%= text_field :update, :url, :class => 'text_field' %>
</div>
</div>

<div class="form-actions">
  <%= submit_tag 'Create', :class => 'btn btn-primary' %>
</div>










<%if false %>
<%- model_class = Doi -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>
<%= render :partial => 'form' %>
<% end %>