<!DOCTYPE html>
<html>
<head>
  <title>DOIServer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="bs-docs-section clearfix">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="row">
      <div class="col-lg-12">
        <div class="bs-example">
          <div class="navbar navbar-default">
            <div class="container">
              <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                  <% if user_signed_in? %>
                  <a class="navbar-brand" href="/dois">DOI Server</a>
                  <li>
                    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                  <% else %>
                  <a class="navbar-brand" href="/">DOI Server</a>
                  <li>
                    <a href="/users/sign_in">Login</a>
                  <% end %>
                  </li>
                  <li><a href="/users/sign_up">Sign Up</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <form class="navbar-form navbar-left">
                    <!-- determine the path for form begin -->
                    <% if params[:controller] == "home" %> 
                      <% path = "/" %>
                    <% elsif params[:controller] == "doi" %>
                      <% path = dois_path %>
                    <% else %>
                      <% path = dois_path %>
                    <% end %>
                    <!-- determine the path for form end -->
                    <!-- Search Form Begin -->
                      <%= form_tag(path, :method => "get") do %>
                     <%= text_field_tag :search, params[:search], :class => "form-control col-lg-8", :placeholder => "Search", :type => "text" %>
                        <!-- Radio Button(s) Begin -->
                     <% if user_signed_in? %>
                      <div class="radio">
                        <label>
                          <% if params[:option] == "name" %>
                          <%= radio_button_tag :option, "name", :checked => true %>
                          <% else %>
                          <%= radio_button_tag :option, "name"%>
                          <% end %>
                          Search by name
                          <% if params[:option] == "doi_id" %>
                          <%= radio_button_tag :option, "doi_id", :checked => true %>
                          <% else %>
                          <%= radio_button_tag :option, "doi_id"%>
                          <% end %>
                          Search by id
                        </label>
                      </div>
                          <!-- Radio Button(s) End -->
                    <% end %>
                    <% end %>
                    <!-- Search Form End -->
                    </form>
                </ul>
              </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
          </div><!-- /.navbar -->
          <%= yield %>
  </body>
</html>
